@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 11, ../sass/busWatcher.scss */
body {
  padding: 0;
}

/* line 15, ../sass/busWatcher.scss */
html, body, #map {
  height: 100%;
  width: 100vw;
}

/* line 21, ../sass/busWatcher.scss */
.loader {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px dotted #ED9B42;
  animation: spin 2s linear infinite;
}

/* line 32, ../sass/busWatcher.scss */
.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/img/buses_warsaw.jpg");
  background-color: rgba(0, 0, 0, 0.55);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: multiply;
  z-index: 15;
}

/* line 49, ../sass/busWatcher.scss */
.main-login-container {
  position: absolute;
  top: 25%;
  left: calc(50% - 190px);
  max-width: 380px;
  padding: 15px;
  background-color: #2d2d2d;
  background-color: rgba(35, 35, 35, 0.85);
  z-index: 20;
}
/* line 61, ../sass/busWatcher.scss */
.main-login-container .pmd-textfield label {
  color: #eceeef !important;
}
/* line 69, ../sass/busWatcher.scss */
.main-login-container h3 {
  text-align: center;
  text-align: -webkit-center;
}
/* line 74, ../sass/busWatcher.scss */
.main-login-container button {
  float: right;
}

/* line 79, ../sass/busWatcher.scss */
.bus-icon {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color: #333;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

/* line 90, ../sass/busWatcher.scss */
.speed-indicator {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 84px;
  height: 84px;
  color: #eceeef;
  background-color: rgba(45, 45, 45, 0.5);
  border-radius: 50%;
  border: 2px dashed #333;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 990;
}
/* line 107, ../sass/busWatcher.scss */
.speed-indicator p {
  margin: 5px auto;
}

/* line 112, ../sass/busWatcher.scss */
.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 990;
}

@media screen and (min-width: 1366px) {
  /* line 121, ../sass/busWatcher.scss */
  .login-background {
    background-size: cover;
  }
}
@media screen and (max-width: 450px) {
  /* line 127, ../sass/busWatcher.scss */
  .main-login-container {
    width: 95%;
    left: 2.5%;
  }
}
