/* line 2, ../sass/propellerPage.scss */
body {
  padding: 0;
}

/* line 6, ../sass/propellerPage.scss */
nav {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
/* line 8, ../sass/propellerPage.scss */
nav .navbar-brand {
  border-radius: 4px;
}

/* line 13, ../sass/propellerPage.scss */
html, body, #map {
  height: 100%;
  width: 100vw;
}

/* line 19, ../sass/propellerPage.scss */
#pmd-main {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
}
/* line 25, ../sass/propellerPage.scss */
#pmd-main .pmd-sidebar {
  top: 57px;
  padding: 0px;
}
/* line 31, ../sass/propellerPage.scss */
#pmd-main .pmd-content .row {
  margin-top: 15px;
}

/* line 38, ../sass/propellerPage.scss */
.bus-icon {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background-color: #333;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

/* line 49, ../sass/propellerPage.scss */
.bus-icon:after {
  position: relative;
  top: 5px;
  color: #fff;
}

/* line 56, ../sass/propellerPage.scss */
.btn .fa {
  position: relative;
  padding-right: 1em;
  font-size: 0.9rem;
}

/* line 62, ../sass/propellerPage.scss */
.btn-fb {
  background-color: #3b5998 !important;
  color: #fff;
}

/* line 67, ../sass/propellerPage.scss */
.btn-gplus {
  background-color: #dd4b39 !important;
  color: #fff !important;
}

/* line 72, ../sass/propellerPage.scss */
.pmd-sidebar .pmd-sidebar-nav li.pmd-dropdown.open .dropdown-menu {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  /* line 78, ../sass/propellerPage.scss */
  #pmd-main .pmd-sidebar {
    top: 65px;
  }
}
